@*@model IEnumerable<SporYorumCore8523.DataAccess.Spor>*@
@model IEnumerable<SporYorumCore8523.Models.SporYorumInnerJoinModel>

@{
    ViewData["Title"] = "InnerJoin";
}

<h1>@ViewData["Title"]</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakimAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakimUlke)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yorumcu)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TakimAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakimUlke)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Icerik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yorumcu)
                </td>
               

                <td>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
